.book {
    background-image: url(../img/maldiv.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    position: relative;
    height: 70vh;
    width: 100%;
    padding-bottom: 2%;
    overflow: hidden;
    &_content {
        text-align: center;
        font-family: $font;
        color: $color-white;
        font-weight: 600;
        position: absolute;
        padding: 0 10% 8%;
    }
    &_title {
        font-size: 80px;
    }
    &_text {
        font-size: 20px;
    }
    &_btn {
        padding: 15px 120px 15px 120px;
        font-size: 23px;
        border-radius: 20px;
        color: $color-title;
        border: none;
        cursor: pointer;
        margin: 20px auto;
        font-weight: 600;
        background-color: $color-grey-1;
        display: block;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: $color-title;
            color: $color-white;
            }
    }
}
@media screen and (max-width: 1199px) {
    .book_title {
        font-size: 65px;
    }
}
@media screen and (max-width: 991px) {
    .book {
        padding-top: 1%;
        &_title {
            font-size: 55px;
        }
        &_text {
            font-size: 16px;
        }
        &_btn {
            padding: 15px 80px 15px 80px;
    }
}
}
@media screen and (max-width: 767px) {
    .book_title {
        font-size: 40px;
    }
    .book_text {
    font-size: 14px;
    }
    .book_btn {
        padding: 9px 50px 9px 50px;
    }
} 
@media screen and (max-width: 575px) {
    .book {
        background-image: url(../img/book2.jpg);
        background-attachment: local;
        height: 260px;
    }
    .book_title {
        font-size: 25px;
    }
    .book_btn {
        padding: 9px 20px 9px 20px;
    }
} 