.find {
    background-image: url(../img/1dc7505baabc35fd0d2ff67a5b3f0785.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 5%;
    font-family: $font;
    position: relative;
    &_img {
        position: absolute;
        left: 90%;
        top: 0;
        animation: airplane 7s infinite ease-in-out;
    }
    &_subtitle {
        font-size: 16px;
        margin-left: 15px;
    }
    &_tour {
        width: calc(100%/3);
        height: 520px;
        background-color: rgba(240, 240, 240, .7);
        margin-left: 60%;
        position: relative;
        border-radius: 16px;
        padding: 7px;
    }
    &_title {
        text-align: center;
    }
    &_select {
        width: 90%;
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
        padding: 10px;
        margin-left: 15px;
        margin-top: 7px;
        background-color: rgba(240, 240, 240, .9);
        color: $color-blue;
        font-family: $font;
        font-weight: 600;
        border: none;
        &:hover {
            color: $color-black;
        }
    }
        &_select_number {
            font-size: 16px;
            background-color: rgba(240, 240, 240, .9);
            border-radius: 30%;
            color: $color-blue;
        }
        &_button {
            padding: 10px 120px 10px 120px;
            font-size: 20px;
            border-radius: 20px;
            color: $color-white;
            border: 2px solid $color-white;
            cursor: pointer;
            font-family: Kanit;
            margin-top: 10px;
            margin-left: 17px;
            font-weight: 500;
            background-color: $color-blue;
            transition: all .3s ease-in-out;
            &:hover {
                background-color: $color-white;
                color: $color-blue;
            }
        }
    }
    @keyframes airplane {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 85%;
            top: 0;
        }
    }
    @media screen and (max-width: 1199px) {
        .find {
            padding-top: 7%;
        }
        .find_tour {
            height: 500px;
        .find_button {
            padding: 10px 90px 10px 90px;
            margin-left: 13px;
        }
    }
}
@media screen and (max-width: 991px){
    .find_tour {
        width: calc(100%/2);
        margin-left: 45%;
        height: 480px;
    }
}
@media screen and (max-width: 767px) {
    .find {
        padding-top: 10%;
    }
    .find_select {
        padding: 8px;
    }
    .find_tour {
        height: 460px;
    .find_button {
        padding: 10px 60px 10px 60px;
    }
}
@keyframes airplane {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 80%;
        top: 0;
    }
}
}
@media screen and (max-width: 575px) {
    .find {
        background-attachment: local;
        padding-top: 17%;
        &_tour {
        width: 90%;
        margin-left: 15px;
    }
}
@keyframes airplane {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 60%;
        top: 0;
    }
}
}