.where {
    background-image: url(../img/8819962f8572c3591a2b91fb23bf186d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;   
    height: 80vh;        
    background-attachment: fixed; 
    font-family: $font;
    text-align: center;
    color: $color-white;
    font-weight: 600;
    &_content_title {
        padding-top: 12%;
        font-size: 80px;
    }  
    &_content_text {
        font-size: 35px;
    } 
}
/*@media (max-width: 575px) {
    .where_content {
        color:$color-black;
        &_title {
            font-size: 45px;
        }
        &_text {
            font-size: 25px;
        }
    }
}*/


@media screen and (max-width: 575px) {
    .where {
        height: 50vh;
        background-image: url(../img/next2.jpg);
        background-attachment: local;
    }
    .where_content_title {
        font-size: 2.5em;
        margin-bottom: 10px;
    }

    .where_content_text {
        font-size: 1.5em;
    }
}