@mixin button {
    padding: 10px 28px;
    font-size: 20px;
    border-radius: 20px;
    color: $color-white;
    border: 3px solid $color-white;
    cursor: pointer;
    font-family: $font;
    margin-top: 25px;
    transition: all .3s ease-in-out;
    &:hover {
        color: $color-blue;
        background: $color-white;
    }
}
@mixin button_mobile {
    padding: 5px 25px;
    font-size: 15px;
    border-radius: 20px;
    color: #fff;
    border: 3px solid #fff;
    cursor: pointer;
    font-family: Kanit;
    margin-top: 20px;
    &:hover {
        color: $color-blue;
        background: $color-white;
    }
}
@mixin title {
    color: $color-title;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: $font;
    &:after {
        display: block;
        content: "";
        text-align: center;
        width: 15%;
        margin: 0 auto;
        height: 2px;
        background-color: $color-title;
    }
}
