/*color*/
$color-white: #fff;
$color-blue: #064459;
$color-hover: #F0EAD6;
$color-title : #2E7696;
$color-black: #000000;
$color-grey: #F7F7F7;
$color-grey_1: rgba(240, 240, 240, .7);
$color-footer: #77B4CA;
/*fonts*/
$font: Kanit;